<aside class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 15%;">
        <a href="{{ path('catalogue') }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Index</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            {% for section in formation.sections %}
            {{ include('catalogue/base/section.html.twig') }}
            {% endfor %}
        </ul>        
</aside>